.side-nav-container {
  background-color: var(--body);
  width: 180px;

  height: 100vh;
  position: relative;
  color: var(--dark);
  transition: 0.4s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.side-nav-container-NX {
  width: 62px;

}

.nav-upper,
.nav-heading,
nav-menu,
menu-item {
  display: grid;
  height: 90px;
}

nav.heading {
  grid-template-columns: 2fr, 1fr;
  grid-template-rows: 1fr;
  height: 75px;
}

.nav-brand {
  display: flex;
  width: 150px;
  height: 100px;
}

.nav-brand img {
  width: 170px;
}
  padding: 0 10px;
}

.hamburger {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  margin: auto -37px;
  background-color: var(--primary);
  border: 2px solid var(--dark);
  padding: 20px;
  border-radius: 90px;
  height: 71px;
  width: 74px;
}

.hamburger span {
  display: block;
  margin-top: 5px;
  background-color: var(--dark);
  border-radius: 15px;
  height: 4px;
  width: 30px;
}

.hamburger:hover span {
  margin: auto;
}

.hamburger-in:hover span:nth-child(1) {
  width: 25px;
  transform: translate(-3px, 8px) rotate(30deg);
}

.hamburger-in:hover span:nth-child(2) {
  display: none;
}

.hamburger-in:hover span:nth-child(3) {
  width: 25px;
  transform: translate(-3px, -8px) rotate(-30deg);
}

.hamburger-out:hover span:nth-child(1) {
  width: 25px;
  transform: translate(0px, 8px) rotate(-30deg);
}

.hamburger-out:hover span:nth-child(2) {
  display: none;
}

.hamburger-out:hover span:nth-child(3) {
  width: 25px;
  transform: translate(0px, -8px) rotate(30deg);
}

.nav-menu {
  grid-template-rows: repeat(4, 1fr);
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
}

.nav-img {
  margin-top: 70%;
  width: 50px;
  height: 50px;
}

.nav-img-NX {
  margin-top: 70%;
  width: 50px;
  height: 50px;
}

.nav-menu-img {
  width: 50px;
  height: 50px;
}

.menu-item {
  height: 57px;
  width: 16em;
  display: flex;
  color: var(--dark);
  text-decoration: none;
  text-transform: uppercase;
  margin: auto 40px;
  border-radius: 10px;
  position: relative;
}

.menu-item-NX {
  margin: auto;
  width: 4.5em;
}

.menu-item:hover {
  background-color: var(--primary);
}

.menu-item img {
  width: 30px;
  padding: 0 20px;
}

.menu-item:hover > .tooltip {
  display: block;
}

.tooltip {
  display: none;
  position: absolute;
  left: 99%;
  bottom: 80%;
  width: auto;
  padding: 4px, 8px;
  border-radius: 15px 15px 15px 0;
  white-space: nowrap;
  border: 2px solid var(--dark);
  background-color: var(--light);
}
