.title-style {
  width: 500px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.button-style {
  margin: 20% 0 5% 0;
  background: #1bc5d5;
  color: white;
  border: none;
  height: 40px;
  font-size: 20px;
  border-radius: 6px;
  width: 92px;
}

.input-style {
  margin-top: 40px;
}

.d-grid {
  float: right;
}
