.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  margin-right: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-one-style {
  min-width: 150px;
  margin: 0px 10px 10 0;
  padding: 0;
  color: rgb(185, 175, 175);
}

.number-style {
  /* text-align: center; */
  margin: 0;
}

.col-one-style {
  margin: 15px 10px 0 0;
}

.agent-title {
  color: #857979;
}
/* Rows screen size*/
.rows {
  margin: 50px;
  width: 1035px;
  display: inline-flexbox;
  margin-left: 10px;
}

@media screen and (max-width: 1200px) {
  .scrollableDiv {
    width: 180%;
    margin: 50px;
  }
  .rows {
    margin: 10px;
    min-width: 900px;
    display: inline-flexbox;
    margin-left: 10px;
    padding-right: 60%;
  }
  .card-one-style {
    padding: 10px !important;
    margin: 10px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and(max-width:1366px) {
  .scrollableDiv {
    width: 180%;
    margin: 50px;
  }
  .rows {
    margin: 10px;
    /* min-width: 900px; */
    display: inline-flexbox;
    margin-left: 10px;
    padding-right: 60%;
  }
  .card-one-style {
    padding: 10px !important;
    margin: 10px;
    display: -webkit-flex;
  }
}

@media screen and(max-width:1920px) {
  .scrollableDiv {
    width: 180%;
    margin: 50px;
  }
  .rows {
    margin: 10px;
    min-width: 900px;
    display: inline-flexbox;
    margin-left: 10px;
    padding-right: 60%;
  }
  .card-one-style {
    padding: 10px !important;
    margin: 10px;
    display: -webkit-flex;
  }
}
