.container{
    display: flex;
  }
  
  .sidebar {
    position: static;
    top: 0;
  }
  .logo{
    width: 100%;
  }
  main{
    width: 100%;
    padding: 20px;
  }
  
  .top_section{
    align-items: center; 
    padding: 20px;
  }
  
  .link{
    display: flex;
    color: #1d1d1d;
    padding: 10px;
    gap: 15px;
    transition: all 0.5s;
  }
  
  .link:hover{
    background-color: #E6F7FF;
    color: #1677FF;
  }
  
  .active{
    background-color: #E6F7FF;
    color: #1677FF; 
  }
  
  